ul {
    margin: 0;
    padding: 0;
  }
  
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  ul li:nth-child(odd) {
    background: #f9f9f9;
  }
  
  ul li:hover {
    background: #ddd;
  }
  
  ul li.check {
    background: #888;
    color: #fff;
    text-decoration: line-through;
  }
  
  ul li.check::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: #f44336;
    color: white;
  }

  input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    font-size: 16px;
  }

  a.button9 {
    position: relative;
    display: inline-block;
    width: 11em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    color: #000;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #ddd inset, 0 1px 1px #fff;
  }
  a.button9:hover {
    background: #dcdcdc linear-gradient(#fff, #dcdcdc);
    box-shadow: 0 0 0 1px #aaa inset, 0 1px 1px #aaa;
  }
  a.button9:active {
    background: none;
      box-shadow: 0 0 0 1px #bbb inset, 0 1px 3px rgba(0,0,0,.5) inset, 0 1px 2px #fff;
  }